*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
/app/release
/app/debug
/app/build
/app/src/main/assets
/app/src/main/jniLibs
/app/src/main/res/values/strings.xml
/app/src/main/res/values/colors.xml
/app/src/main/res/values/themes.xml
/app/src/main/res/values/styles.xml
/app/src/main/res/values/dimens.xml
/app/src/main/res/values/integers.xml
/app/src/main/res/values/arrays.xml
/app/src/main/res/values/ids.xml
/app/src/main/res/values/attrs.xml
/app/src/main/res/values/bools.xml
